@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    text-decoration: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


body{
    font-family: 'poppins', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header a {
    padding: 10px;
    background-color: #8E03C0;
    color: #37004b;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
}

.header div{
    font-size: 16px;
}

.hsuco{
    font-size: 32px;
}

main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

main > a{
    padding: 10px;
    background-color: #8E03C0;
    color: #37004b;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
}

main p{
    max-width: 360px;
    margin: 20px;
}

.Page{
    border-bottom: #37004b 5px solid;
    border-radius: 6px;
}
.img{
    max-width: 400px;
}

.suco{
    display: flexbox;
    max-width: 560px;
}
